<div class="main-content">
  <div class="sidebar">
      <button routerLink="/newpass" class="btn btn-light">Thông tin tài khoản</button>
      <button routerLink="/order" class="btn btn-light">Đơn hàng</button>
      <button class="btn btn-light">Đổi mật khẩu</button>
      <button routerLink="/login" class="btn btn-danger">Đăng xuất</button>
  </div>
  <div class="account-info">
      <h2>Thông tin tài khoản</h2>
      <div class="form-group">
          <label for="name">Họ tên:</label>
          <input type="text" id="name" />
      </div>
      <div class="form-group">
          <label for="phone">Số điện thoại:</label>
          <input type="text" id="phone" />
      </div>
      <div class="form-group">
          <label for="address">Địa chỉ:</label>
          <input type="text" id="address" />
      </div>
      <button class="btn btn-primary">Sửa</button>
  </div>
</div>
