
.logo,
.nav-item,
.search-bar,
.icons,
.footer-item {
  border: 1px solid #000;
  padding: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  border: 1px solid #000;
  border-right: none;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #000;
}

.sidebar,
.account-info {
  border: none;
  padding: 20px;
}

.sidebar {
  border: 1px solid #000;
  display: flex;
  justify-content:space-evenly;
  width: 17%;
  flex-direction: column; /* Sắp xếp các nút theo chiều dọc */
}

.sidebar button {
  margin-bottom: 10px; /* Cách đều giữa các nút */
  padding: 10px;
  cursor: pointer;
}

.account-info {
  display: flex;
  flex-direction: column; /* Để các phần tử bên trong xếp chồng lên nhau */
  align-items: center; /* Canh giữa các phần tử trong account-info */
  width: 100%; /* Chiếm hết chiều rộng */
  justify-content: flex-end;
}

.account-info h2 {
  text-align: center;
}

.account-info .form-group {
  display: flex; /* Sử dụng flex để đặt label và input nằm ngang hàng */
  align-items: center; /* Căn giữa theo chiều dọc */
  margin-bottom: 10px; /* Cách giữa các nhóm form */
  width: 100%; /* Chiếm hết chiều rộng */
  justify-content: flex-end;
  margin-left: -85%;
}

.account-info label {
  margin-right: 10px; /* Khoảng cách giữa label và input */
}

.account-info input {
  padding: 5px 20px;
}

.account-info button {
  width: auto; /* Đặt width của nút sửa lại tự động */
}
.header, .main, .footer {
  width: 100%; /* Chiều rộng của các phần tử */
  height: 100%;
  text-align: center; /* Căn giữa văn bản */
  padding: 10px; /* Khoảng cách bên trong */
  border: 1px solid #000; /* Viền nhẹ */
}
