<!-- order.component.html -->
<div class="container">
  <div class="left">
    <h2>Thông tin giao hàng</h2>
    <input placeholder="Họ và tên..." type="text" />
    <input placeholder="Số điện thoại..." type="text" />
    <input placeholder="Địa chỉ..." type="text" />
    <div class="payment-method">
      <h2>Phương thức thanh toán</h2>
      <button>Thanh toán khi nhận hàng</button>
    </div>
  </div>
  <div class="right">
    <div class="item" *ngFor="let item of cartItems">
      <div>
        <img alt="Product Image" height="50" [src]="item.imageUrl" width="50" />
      </div>
      <div>{{ item.name }}</div>
      <div>{{ item.price | currency }}</div>
      <div>{{ item.quantity }}</div>
      <div>{{ item.price * item.quantity | currency }}</div>
    </div>
    <div class="total">
      <div class="total-label">Tổng tiền hàng</div>
      <div class="total-input">{{ totalAmount | currency }}</div>
    </div>
    <div class="shipping">
      <div class="total-label" >Phí vận chuyển</div>
      <div class="total-input">{{ shippingCost | currency }}</div>
    </div>
    <div class="grand-total">
      <div class="total-label">Tổng thanh toán</div>
      <div class="total-input">{{ grandTotal | currency }}</div>
    </div>
    <div class="order-button">
      <button (click)="placeOrder()">Đặt Hàng</button>
    </div>
  </div>
</div>
