@media (max-width: 768px) {
  .header, .footer {
      flex-direction: column; /* Chuyển sang dạng cột trên màn hình nhỏ */
      align-items: center;
  }
  .header div, .footer div {
      flex: none; /* Bỏ flex cho các div để chúng trở về chiều rộng tự nhiên */
      width: 100%; /* Chiếm toàn bộ chiều rộng */
  }
}
//
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header, .footer {
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header div, .footer div {
  border: 1px solid #000;
  padding: 10px;
}

.header .search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  padding: 5px;
}

.header .search-bar input {
  border: none;
  outline: none;
  padding: 8px; /* Thêm padding để tạo khoảng cách bên trong */
  border-radius: 4px; /* Bo tròn góc cho input */
  margin-right: 5px; /* Khoảng cách giữa input và button */
}

.header .search-bar button {
  border: none;
  background: none;
  cursor: pointer;
}

.header .icons {
  display: flex;
  align-items: center;
  border: none;
  margin-right: 5%;
}

.header .icons i {
  cursor: pointer;
  margin-left: 15px; /* Khoảng cách giữa các biểu tượng */
}

.footer {
  justify-content: space-around;
}

