<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css"
/>

<div class="main">
  <h2>Đăng ký</h2>
  <form>
    <div>
      <label for="username">Tài khoản:</label>
      <input type="text" id="username" name="username" />
    </div>
    <div>
      <label for="password">Mật khẩu:</label>
      <input type="password" id="password" name="password" />
    </div>
    <div>
      <label for="password">Nhập Lại Mật khẩu:</label>
      <input type="password" id="repassword" name="repassword" />
    </div>
    <div>
      <label for="password">Họ Và Tên:</label>
      <input type="password" id="name" name="name" />
    </div>
    <div>
      <label for="password">Số điện thoại:</label>
      <input type="password" id="sdt" name="sdt" />
    </div>
    <div>
      <label for="password">Địa chỉ:</label>
      <input type="password" id="address" name="address" />
    </div>
    <div class="button">
      <button type="submit">Đăng ký</button>
    </div>
  </form>
</div>
